importFrom("Rcpp", "evalCpp")

importFrom("numDeriv", "grad", "jacobian")

importFrom("VineCopula", "BiCopPDF", "RVineMatrix", "RVineMatrixNormalize", "BiCopHfunc1", "BiCopHfunc2")

importFrom("ggplot2", "ggplot", "aes_string", "geom_point", "rel", "scale_colour_manual",
           "ggtitle", "scale_y_continuous", "scale_x_continuous", "xlab", "ylab",
           "coord_fixed", "theme_bw", "element_line", "annotate",
           "xlim", "ylim", "theme", "element_blank", "guides", "coord_equal",
           "element_text")

importFrom("gridExtra", "grid.arrange", "arrangeGrob")

importFrom("stats", "pchisq", "quantile")

importFrom("methods", "is")

importFrom("utils", "combn", "getFromNamespace")

useDynLib("pacotest")
export("pacotest", "pacotestset", "pacotestRvineSeq", "pacotestRvineSingleCopula")
